@charset "UTF-8";
/*------------------------------------*\
    SCREEN.CSS
\*------------------------------------*/





/**
 * Setup
 */
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "vars";
@import "../../bower_components/inuit.css/inuit";
@import "mixins";  // Custom mixins





/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
@import "ui/scaffolding";
@import "ui/typography";
@import "ui/color";
@import "ui/header";
@import "ui/navs";
@import "ui/forms";
@import "ui/buttons";
@import "ui/footer";
@import "ui/helpers";

$loading_gif: "/images/ajax-loader.gif";

.loading {
	background: url($loading_gif) no-repeat center;
	opacity: 0.7;
}
.done-loading {
	opacity: 1;
	background: transparent;
}