<!doctype html>
<html class="no-js" ng-app="tcpto">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Tcptrace-online</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<!-- build:css(assets) styles/screen.css -->
		<link rel="stylesheet" href="styles/screen.css">
		<!-- endbuild -->
		<script src="bower_components/modernizr/modernizr.js"></script>

	</head>
	<body>
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<a href="#" class="navbar-brand">TCPTrace Online</a>
					<ul class="nav navbar-nav">
					</ul>
				</div>
			</nav>
		</header>
		<div class="container-fluid" ng-view ng-class="loading"></div>

		<!-- build:js(assets) scripts/plugins.js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
		<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<!-- endbuild -->
		{{!-- going to separate the actual jsPlot files from the demo repo, then create bower package --}}
		<script type="text/javascript" src="bower_components/jsplot/plugins.js"></script>
		<script type="text/javascript" src="bower_components/jsplot/text.js"></script>
		<script type="text/javascript" src="bower_components/jsplot/glyphs.js"></script>
		<script type="text/javascript" src="bower_components/jsplot/js-plot.js"></script>
		<!-- build:js(assets) scripts/script.js -->
		<script src="scripts/app.js"></script>
		<!-- endbuild -->

	</body>
</html>