<tabset>
	<tab heading="Summary" active="tabs.summary">
		<h3>{{connInfoNumber}}</h3>
		<div class="row" ng-repeat="header in connInfoHeader">
			<div class="col-md-11 col-md-offset-1">
				{{header}}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h5>{{connInfoNames[0]}}</h5>
			</div>
			<div class="col-md-6">
				<h5>{{connInfoNames[1]}}</h5>
			</div>
		</div>
		<div ng-repeat="line in connInfoLines" class="row">
			<div class="col-md-3">{{line.a.label}}</div>
			<div class="col-md-3">{{line.a.value}}</div>
			<div class="col-md-3">{{line.b.label}}</div>
			<div class="col-md-3">{{line.b.value}}</div>
		</div>
	</tab>
	<tab heading="Time Sequence" select="graphClick('time_sequence')">
		<div class="row">
			<div class="col-md-3">
				<button type="button" ng-click="flipGraphDirection()" class="btn">Flip Direction</button>
			</div>
			<div class="col-md-3">
				<label>Colored Graph <input type="checkbox" ng-model="graphColor"></label>
			</div>
			<div class="col-md-3">
				<label>Zero X axis <input type="checkbox" ng-model="graphZeroX"></label>
			</div>
			<div class="col-md-3">
				<label>Zero Y axis <input type="checkbox" ng-model="graphZeroY"></label>
			</div>
		</div>
		<canvas id="time_sequence_plot"></canvas>
	</tab>
	<tab heading="Throughput" select="graphClick('throughput')">
		<canvas id="throughput_plot"></canvas>
	</tab>
	<tab heading="RTT" select="graphClick('rtt')">
		<canvas id="rtt_plot"></canvas>
	</tab>
	<tab heading="Outstanding Data" select="graphClick('outstanding_data')">
		<canvas id="outstanding_data_plot"></canvas>
	</tab>
	<tab heading="Segment Size" select="graphClick('segment_size')">
		<canvas id="segment_size_plot"></canvas>
	</tab>
	<tab heading="Time Line">
		<h3>Coming Soon</h3>
	</tab>
</tabset>
