<div class="list-group">
	<a class="list-group-item" ng-repeat="connection in connections" ng-click="connectionClick(connection.id)">
		<div>{{connection.hosta}} - {{connection.hostb}}</div>
		<div><small>{{connection.info}}<small></div>
	</a>
</div>