<div class="row">
	<div class="col-md-3">
		<form enctype="multipart/form-data" id="upload_form" action="/upload" method="post">
			<label>Upload a file to be analyzed by tcptrace <input type="file" name="dumpFile" ng-file-select />
		</form>
	</div>
</div>
<div class="row" ng-show="displayProgress">
	<div class="col-md-3">
		<div class="progress" style="">
			<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
		</div>
	</div>
</div>
<div class="row" ng-show="displayProcessing">
	<div class="col-md-3">
		Processing...
	</div>
</div>
<div class="row">
	<div class="col-md-3" tcpto-connection-list></div>
	<div class="col-md-9" tcpto-connection-info></div>
</div>